.idea/
*.exe
*.tmp
*.zip

gbt
gbt.exe


# Exclude base game missions
**/DTAS*.mis
**/Deathmatch*.mis
**/Defuse*.mis
**/HostageRescue*.mis
**/IntelRetrieval*.mis
**/LastManStanding*.mis
**/TerroristHunt*.mis
**/TeamElimination*.mis
**/Training*.mis
**/Uplink*.mis
